body {
    background-color:#D2B48C;
    width:900px;
        margin:0px auto;
        text-align:center;
        padding:15px;
    align-content:center;
    align-items:center;
    text-decoration:none;
    text-align:center;

}

.header {
    font-size:xx-large;
    color:#000000;
    font-weight:bold;
    font-family:'Tahoma';
    text-align:center;
}

ul {
    padding-top:5px;
    margin:0px; 
    text-align:center;   
}

li {
    display:inline-block;
    margin-left:10px;
    margin-bottom:20px;
    padding:0;
    
}

#nav {
    display:inline-block;
    text-align:center;
    
}

#nav li {display:inline-block;
         list-style-type:none;
         font-size:medium;
         font-weight:normal;
         font-variant:normal;
         text-align:center;
         
}

li+li {
    border-left:1px solid #000000;
    padding-left:10px;
}

.footer {
    font-weight:bold;
}

.validationError {
    color:red;
    font-weight:bold;
}

.aboutUs {
    font-family:'Adobe Heiti Std';
    font-size:medium;
    color:white;
    font-weight:700;
    font-style:italic;
    text-align:justify;
}

.gridview {
    background-color: #F08080;
    border: solid 3px #FFFFFF;
    border-collapse:collapse;
    font-family:Verdana;
    color:#FFFFFF;
    text-align:center;
}

.gridview td {
    padding:3px;
    border:solid 2px #FFFFFF;
}

.gridview th {
    padding: 4px 2px;
    color: #696969;
    background-color:FFFF99;
    border-left: solid 2px #FFFFFF;
    font-family: Verdana;
    font-size:1.3em;
    text-align:center;
}





